.dashboard-card {
    .card-header {
        background-color: #1c5478 !important;
        color: #dadbe8;
        font-family: "Lato Bold";
        font-size: 1.2rem;
    }
}

.overview-card {
    background-color: #101824 !important;
    border: none !important;
    color: #ffbe40;
}